%h1.text-center.my-5 
  Edit Recipe ID: 
  =@recipe.id

.form-wrapper
  = render 'form', buttoncaption: 'Save'


.text-center
  = link_to 'Show', @recipe
  \|
  = link_to 'Back', request.referer.present? ? request.referer : recipes_path
