.jumbotron-fluid.picture

  .container
    %h1.display-4 You don't have the same day every day -- so why are you taking the same supplements?
    %p.lead Your personalized nutrition journey starts now!
    %hr.my-4
    %p Register or Log in to get your personalized nutrition recipe right away!
    .form-row
      %a.btn.btn-primary.btn{href: login_path, :role => "button"} Log in
      %a.btn.btn-outline-light.mx-4.btn{href: new_postman_user_path, :role => "button"} Register
      