.page-wrapper
  %h4.box-title.text-center.pb-3.page-header
    Terms of Service

  %p
    The source code for this website is located on github at:
    = link_to "https://github.com/epasquali/MixFitInterview/", "https://github.com/epasquali/MixFitInterview/" |
  %p
    The source code is licensed under the GNU Public License.
  %p
    For comments/questions please contact
    = mail_to "epasquali@hotmail.com" 
