%footer.bottom
  %nav.navbar.navbar-dark.navbar-expand.mt-0.bg-green
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to "Help", help_path, class: 'nav-link'
      %li.nav-item
        = link_to "About", about_path, class: 'nav-link'
      %li.nav-item
        = link_to "Terms of Service", tos_path , class: 'nav-link'
